.header {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-link.active {
  color: #ff6600;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  position: relative;
}

.btn {
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background: #ff6600;
  color: white;
  border: none;
}

.outline {
  border: 1px solid #ff6600;
  background: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 8px 14px;
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
  font-size: 22px;
}

.profile-icon {
  font-size: 28px;
  color: #ff6600;
}

/* Mobile */
@media(max-width:768px){
  .menu-icon{
    display:block;
  }

  .nav-section{
    display:none;
    flex-direction:column;
  }

  .nav-section.active{
    display:flex;
  }

  .nav-links{
    flex-direction:column;
  }
}
