.header {
  background: var(--white);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.navbar {
  max-width: 100%;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #00a6ff; */
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #514d4d;
  font-weight: 500;
  transition: 0.2s;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link:hover {
  color: #599ee8;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  position: relative;
}

.btn {
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background: #599ee8;
  color: white;
  border: none;
}

.outline {
  border: 1px solid #599ee8;
  background: transparent;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 100;
}

.dropdown-menu a {
  padding: 13px 14px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.profile-icon {
  font-size: 28px;
  color: #ff6600;
}

.sidebar-header {
    display: none;
  }

  .menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
  }

/* Mobile */
@media(max-width:768px){

  .menu-icon {
    display: block;
  }

  .nav-section{
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: white;
    padding: 20px;
    box-shadow: -3px 0 12px rgba(0,0,0,0.15);
    flex-direction: column;
    border-radius: 5px 15px;
    transition: 0.3s ease;
    gap: 20px;
    z-index: 200;
  }

  .nav-section.active{
    right: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-icon {
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links{
    flex-direction:column;
    gap: 15px;
  }

  .auth-buttons{
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .nav-link:hover {
    background: #f2f2f2;
    border-radius: 5px;
  }
}
