header{
    /* background: #a7a4a4; */
    display: flex;
}

.nav_link ul {
    list-style: none;
    /* background-color: #d28282; */
}

nav ul li {
  display: inline-block; /* or use float: left; for older layouts */
}