.contact {
  padding: 60px 40px;
  background: #f9fafb;
  min-height: 80vh;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-info h2 {
  color: #2563eb;
  margin-bottom: 10px;
}

.info-box {
  margin-top: 20px;
  line-height: 1.8;
}

/* FORM */
.contact-form {
  flex: 1;
  min-width: 280px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.contact-form h3 {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.contact-form button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.contact-form button:hover {
  background: #1e40af;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  font-size: 22px;
}

.social-icons a {
  color: #2563eb;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #1e40af;
  transform: scale(1.2);
}
